body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

#sidebar {
    width: 30%;
    padding: 15px;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-y: auto;
}

#map {
    width: 70%;
    height: 100vh;
}
